@use 'variables' as *;

html {
  background-color: $neutral-100;
  color: $neutral-900;
}

section {
  padding: 64px 16px;
  max-width: 1440px;
  margin-inline: auto;

  @media (min-width: $breakpoint-tablet) {
    padding: 80px 32px;
  }

  @media (min-width: $breakpoint-desktop) {
    padding: 96px 124px;
  }

  &:first-of-type {
    padding-top: 48px;
  }

  &.has-border-bottom {
    border-bottom: solid 1px $neutral-300;
  }

  @media (min-width: $breakpoint-tablet) {
    &.has-border-bottom-md {
      border-bottom: solid 1px $neutral-300;
    }
  }
}
