@use 'variables' as *;

html {
  background-color: $neutral-100;
  color: $neutral-900;
}

section {
  padding: 64px 16px;

  @media (min-width: $breakpoint-tablet) {
    padding-inline: 32px;
    padding-top: 80px;
  }

  @media (min-width: $breakpoint-desktop) {
    padding-top: 96px;
    padding-inline: 124px;
  }

  &:first-of-type {
    padding-top: 48px;
  }
}
