@use 'variables' as *;

html {
  background-color: $neutral-100;
  color: $neutral-900;
}

section {
  padding-inline: 16px;
  padding-top: 64px;

  @media (min-width: $breakpoint-tablet) {
    padding-inline: 32px;
    padding-top: 80px;

    &:not(:nth-last-of-type(2)):not(.call-to-action) {
      padding-bottom: 80px;
      border-bottom: solid 1px $neutral-200;
    }
  }

  &:first-of-type {
    padding-top: 48px;
  }

  &.has-divider {
    border-top: solid 1px $neutral-200;
    padding-block: 48px;
  }
}
