@use 'variables' as *;

html {
  background-color: $neutral-100;
  color: $neutral-900;
}

section {
  padding-inline: 16px;
  padding-top: 64px;

  &:first-of-type {
    padding-top: 48px;
  }

  &.has-divider {
    border-top: solid 1px $neutral-200;
    padding-block: 48px;
  }
}
