// COLORS
// Neutral
$neutral-900: #163a34;
$neutral-800: #395852;
$neutral-300: #d0dcd9;
$neutral-200: #e0e6e3;
$neutral-100: #f6f5f1;
$neutral: #ffffff;
// Orange
$orange-500: #fe9f6b;

// BREAKPOINTS
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// RADIUS
$radius-0: 0;
$radius-4: 4px;
$radius-6: 6px;
$radius-8: 8px;
$radius-10: 10px;
$radius-12: 12px;
$radius-16: 16px;
$radius-20: 20px;
$radius-full: 999px;
