@use 'variables' as *;
@use 'fonts';
@use 'reset';
@use 'typography';

@use 'components/button';

html {
  background-color: $neutral-100;
  color: $neutral-900;
}

section {
  padding-inline: 16px;
  margin-top: 48px;
}

.hero {
  background-image: url(./../images/pattern-squiggle-1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 90%;

  .content-wrapper {
    display: grid;
    justify-items: start;
    gap: 16px;

    h1 {
      span {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          z-index: -1;
          top: 50%;
          bottom: 12px;

          height: auto;
          width: 100%;

          background: #fe9f6b;
          opacity: 0.4;
          border-radius: 4px;
        }
      }
    }
  }

  img {
    margin-top: 40px;
    box-shadow: 0px 0px 0px 3.45302px $neutral;
    border-radius: 3.45302px;
  }
}
