@use '../variables' as *;
@use '../typography' as *;

a.button {
  display: inline-block;

  padding: 16px 32px;
  border-radius: $radius-10;

  background-color: $neutral-900;
  color: $neutral;

  @include text-preset(5);
  text-decoration: none;

  &:hover {
    background-color: $neutral-800;
  }

  &:focus,
  &:focus-within {
    box-shadow:
      0 0 0 3px $neutral,
      0 0 0 5px $neutral-900;
  }

  &.centered {
    text-align: center;
  }

  &.radius-full {
    border-radius: $radius-full;
  }
}
