@use '../variables' as *;
@use '../typography' as *;

.call-to-action {
  padding-block: 0;

  .call-to-action-wrapper {
    position: relative;
    display: grid;
    justify-items: center;
    padding: 48px 16px;
    gap: 32px;
    border-radius: $radius-16;
    background-color: $neutral-200;

    @media (min-width: $breakpoint-tablet) {
      padding-block: 80px;
      gap: 40px;
    }

    @media (min-width: $breakpoint-tablet) {
      &::before,
      &::after {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: inherit;
        background-repeat: no-repeat;
      }

      &::before {
        background-image: url('/src/assets/images/pattern-fork.svg');
        background-size: auto 65%;
        background-position: calc(-10%) calc(100% + 35%);

        @media (min-width: $breakpoint-desktop) {
          background-size: contain;
          background-position: left calc(-10%) top calc(20px);
        }
      }

      &::after {
        background-image: url('/src/assets/images/pattern-knife.svg');
        background-size: auto 50%;
        background-position: right calc(-7.5%) top calc(-35%);

        @media (min-width: $breakpoint-desktop) {
          background-size: contain;
          background-position: right calc(-7.5%) top calc(-35%);
        }
      }
    }

    .call-to-action-text {
      z-index: 10;
      display: grid;
      gap: 12px;
      text-align: center;

      h2 {
        text-wrap: auto;
      }
    }

    a.button {
      @include text-preset(7);
    }
  }
}
