@use '../typography' as *;
@use '../variables' as *;

footer {
  display: grid;
  padding: 32px 16px;
  gap: 24px;

  @media (min-width: $breakpoint-tablet) {
    padding: 40px 32px;
    gap: 32px;

    grid-auto-flow: column;
    justify-content: space-between;

    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  @media (min-width: $breakpoint-desktop) {
    padding-inline: 124px;
  }

  .social-media-links {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .footer-text {
    @include text-preset(9);
    text-align: center;
  }
}
