@use '../variables' as *;
@use '../typography' as *;

.framed-image {
  box-shadow: 0px 0px 0px 4px $neutral;
  border-radius: $radius-4;

  @media (min-width: $breakpoint-tablet) {
    border-radius: $radius-8;
  }

  @media (min-width: $breakpoint-desktop) {
    box-shadow: 0px 0px 0px 12px $neutral;
    border-radius: 12px;
  }
}
