@use '../variables' as *;
@use '../typography' as *;

.search-input {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;

  &:before {
    content: '';
    position: absolute;
    left: 16px;
    background-image: url('/src/assets/images/icon-search.svg');
    width: 20px;
    height: 20px;
  }

  input {
    &[type='search'] {
      padding: 10px 16px;
      padding-left: 44px;

      background-color: $neutral;
      border: solid 1px $neutral-200;
      border-radius: 10px;

      @include text-preset(7);
      color: $neutral-900;

      text-overflow: ellipsis;

      &::placeholder {
        color: $neutral-900;
        opacity: 0.7;
      }

      &:hover {
        border-color: $neutral-900;
      }

      &:focus,
      &:focus-within {
        box-shadow:
          0 0 0 3px $neutral,
          0 0 0 5px $neutral-900;
      }
    }
  }
}
