@use '../variables' as *;
@use '../typography' as *;

ul {
  @include text-preset(6);
  color: $neutral-800;

  &:not([class]) {
    padding-left: 0.5em;
    list-style-position: inside;
  }

  &.bullet-point {
    list-style: none;

    @media (min-width: $breakpoint-tablet) {
      display: grid;
      gap: 8px;
    }

    li {
      display: flex;
      gap: 8px;

      display: flex;
      align-items: center;

      &::before {
        content: '';
        flex-shrink: 0;
        background-image: url('/src/assets/images/icon-bullet-point.svg');
        background-repeat: no-repeat;
        background-size: contain;
        height: 1.5em;
        width: 1.25em;
      }
    }
  }
}
