@use '../variables.scss' as *;
@use '../typography' as *;

nav {
  z-index: 100;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid $neutral-200;
  background-color: $neutral-100;

  @media (min-width: $breakpoint-tablet) {
    padding: 32px 32px 20px 32px;
  }

  @media (min-width: $breakpoint-desktop) {
    padding: 20px 60px;
  }

  > a {
    display: flex;
    align-items: center;
  }

  img {
    display: block;
    max-height: 32px;
  }

  button {
    background-color: $neutral-300;
    border-radius: $radius-4;
    padding: 12px;

    @media (min-width: $breakpoint-desktop) {
      display: none;
    }
  }

  ul {
    border-radius: $radius-8;
    background: $neutral;
    border: 1px solid $neutral-200;
    box-shadow: 0px 12px 22px -12px rgba($neutral-800, 0.16);

    position: absolute;
    top: calc(100% - 4px);
    inset-inline: 16px;

    list-style: none;
    padding: 8px;

    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transform: translateY(-8px);
    visibility: hidden;

    transition:
      max-height 0.3s ease,
      opacity 0.25s ease,
      transform 0.3s ease,
      visibility 0s linear 0.3s;

    @media (min-width: $breakpoint-desktop) {
      position: relative;
      visibility: visible;
      opacity: 1;
      max-height: unset;
      background: none;
      border: none;
      box-shadow: none;
      top: unset;
      inset-inline: unset;
      padding: 0;
      transform: none;

      display: flex;
      align-items: center;
    }

    &.open {
      max-height: 100vh;
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
      transition:
        max-height 0.3s ease,
        opacity 0.25s ease,
        transform 0.3s ease,
        visibility 0s;
    }

    li {
      @include text-preset(7);
      display: flex;

      &:not(:last-child) {
        padding: 12px 8px;

        @media (min-width: $breakpoint-desktop) {
          margin-inline: 20px;
          padding: 0;
        }
      }

      a {
        flex-grow: 1;

        &.button {
          @media (min-width: $breakpoint-desktop) {
            display: none;
          }
        }
      }
    }
  }

  > a.button {
    display: none;

    @media (min-width: $breakpoint-desktop) {
      display: block;
    }
  }
}
