@use '../typography' as *;
@use '../variables' as *;

.details {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 16px;

  div {
    display: flex;
    align-items: center;
    gap: 2px;
    @include text-preset(7);
    white-space: nowrap;

    @media (min-width: $breakpoint-tablet) {
      gap: 4px;
    }

    img {
      height: 20px;
    }
  }
}
