@use '../variables' as *;
@use '../typography' as *;

.recipe-cards {
  display: grid;
  gap: 32px;

  @media (min-width: $breakpoint-desktop) {
    grid-template-columns: repeat(3, 1fr);
  }

  .recipe-card {
    display: grid;
    gap: 16px;
    padding: 8px;
    background-color: $neutral;
    border-radius: $radius-10;

    border: 1px solid $neutral-200;
    box-shadow: 0px 8px 16px -9px rgba($neutral-900, 0.16);

    .recipe-top {
      display: grid;
      gap: 16px;

      picture img {
        border-radius: $radius-10;
        max-height: 450px;
        width: 100%;
        object-fit: cover;

        @media (min-width: $breakpoint-desktop) {
          max-height: 300px;
        }
      }

      .recipe-info {
        display: grid;
        gap: 16px;

        @media (min-width: $breakpoint-tablet) {
          padding-inline: 8px;
        }

        .description {
          display: grid;
          gap: 10px;

          h5 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          p {
            @include text-preset(9);
          }
        }
      }
    }
  }
}
