.about.content-container {
  display: grid;
  gap: 40px;
  margin-bottom: 64px;

  .text {
    display: grid;
    justify-items: start;
    gap: 24px;
  }

  img {
    border-radius: 10px;
  }
}

.why-we-exist,
.main-container {
  display: grid;
  gap: 40px;

  .content {
    display: grid;
    gap: 24px;

    .item {
      display: flex;
      gap: 20px;

      img {
        height: fit-content;
      }
    }
  }
}
