@use '../variables' as *;

.about.content-container {
  display: grid;
  gap: 40px;

  @media (min-width: $breakpoint-desktop) {
    grid-template-columns: 1fr 1fr;
    gap: 64px;
    align-items: center;
  }

  .text {
    display: grid;
    justify-items: start;
    gap: 24px;
  }

  img {
    border-radius: $radius-10;
    width: 100%;

    @media (min-width: $breakpoint-tablet) {
      border-radius: $radius-20;
    }
  }
}

.why-we-exist,
.out-food-philosophy {
  display: grid;
  gap: 40px;

  @media (min-width: $breakpoint-desktop) {
    grid-template-columns: 1fr 2fr;
  }

  .content {
    display: grid;
    gap: 24px;

    .item {
      display: flex;
      gap: 20px;

      img {
        height: fit-content;
      }
    }
  }
}

.beyond-the-plate {
  display: grid;
  gap: 32px;

  @media (min-width: $breakpoint-tablet) {
    gap: 40px;
  }

  @media (min-width: $breakpoint-desktop) {
    grid-template-columns: 1fr 2fr;
  }

  .text-container {
    display: grid;
    gap: 20px;

    .description-container {
      display: grid;
      gap: 12px;
    }
  }

  img {
    border-radius: $radius-10;
    width: 100%;

    @media (min-width: $breakpoint-tablet) {
      border-radius: $radius-20;
    }
  }
}
