@use '../variables' as *;
@use '../typography' as *;

.hero {
  background-image: url(/src/assets/images/pattern-squiggle-3.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: calc(100% + 150px);

  @media (min-width: $breakpoint-tablet) {
    background-size: cover;
    background-position-y: 40px;
  }

  .content-wrapper {
    display: grid;
    justify-items: start;
    gap: 16px;

    h1 {
      span {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          z-index: -1;
          top: 50%;
          bottom: 12px;

          height: auto;
          width: 100%;

          background: #fe9f6b;
          opacity: 0.4;
          border-radius: $radius-4;
        }
      }
    }

    p {
      max-width: 700px;
    }
  }

  img {
    margin-top: 40px;
    box-shadow: 0px 0px 0px 3.45302px $neutral;
    border-radius: $radius-4;

    @media (min-width: $breakpoint-tablet) {
      border-radius: $radius-8;
    }
  }
}

.features {
  display: grid;
  gap: 32px;
  @media (min-width: $breakpoint-tablet) {
    gap: 48px;
  }

  .features-list {
    display: grid;
    gap: 24px;

    @media (min-width: $breakpoint-tablet) {
      gap: 32px;
    }

    .feature-item {
      display: grid;
      gap: 20px;

      @media (min-width: $breakpoint-tablet) {
        gap: 24px;
      }

      .feature-text {
        display: grid;
        gap: 12px;
      }

      .image-wrapper {
        height: 60px;
        aspect-ratio: 1/1;
        background: $neutral;
        border: 1px solid $neutral-200;
        box-shadow: 0px 1px 0px $neutral-200;
        border-radius: $radius-12;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          padding: 4px 8px;
        }
      }
    }
  }
}

.real-life {
  display: grid;
  gap: 32px;

  @media (min-width: $breakpoint-tablet) {
    gap: 40px;
  }

  .real-life-text {
    display: grid;
    gap: 20px;
  }

  img {
    border-radius: $radius-10;
    width: 100%;
  }
}
