@use '../variables' as *;
@use '../typography' as *;

.recipes.content-container {
  display: grid;
  gap: 12px;
  margin-bottom: 48px;
}

.recipe-list {
  padding-top: 0;
  display: grid;
  gap: 24px;

  .filter-bar {
    display: grid;
    gap: 12px;

    .filters {
      display: grid;
      gap: 12px;

      legend {
        width: 100%;
      }
    }
  }

  .no-results {
    @include text-preset(9);

    p {
      @include text-preset(9);
    }

    .filter {
      display: flex;
      align-items: center;

      gap: 6px;
      margin-left: 12px;

      overflow-wrap: break-word;
      word-break: break-word;

      &::before {
        content: '';
        background-image: url('/src/assets/images/icon-bullet-point.svg');
        background-size: contain;
        height: 1em;
        width: 1em;
        flex-shrink: 0;
      }
    }
  }
}
