@use '../variables' as *;
@use '../typography' as *;

.recipe.recipe-details {
  display: grid;
  gap: 16px;
  padding-bottom: 48px;

  .breadcrumbs {
    @include text-preset(7);
    display: flex;
    gap: 6px;

    a {
      color: $neutral-900;
      text-decoration: none;
    }

    span {
      opacity: 0.6;

      &:last-of-type {
        opacity: 1;
      }
    }
  }

  .recipe-content {
    display: grid;
    gap: 40px;

    padding-bottom: 48px;
    border-bottom: solid 1px $neutral-300;

    @media (min-width: $breakpoint-desktop) {
      grid-template-columns: 1fr 1fr;
    }

    img {
      border-radius: $radius-10;
      width: 100%;
    }

    .recipe-info {
      display: grid;
      gap: 20px;
    }

    .recipe-section {
      display: grid;
      gap: 16px;
    }
  }

  .more-recipes {
    padding-top: 48px;
    display: grid;
    gap: 24px;
  }
}
