@use '../variables' as *;
@use '../typography' as *;

.recipes.content-container {
  display: grid;
  gap: 12px;
  margin-bottom: 48px;
}

.recipe-list {
  padding-top: 0;
  display: grid;
  gap: 24px;

  .filter-bar {
    display: grid;
    gap: 12px;

    .filters {
      display: grid;
      gap: 12px;

      legend {
        width: 100%;
      }
    }
  }

  .recipe-cards {
    display: grid;
    gap: 32px;

    .recipe-item {
      display: grid;
      gap: 16px;
      padding: 8px;
      background-color: $neutral;
      border-radius: 10px;

      border: 1px solid $neutral-200;
      box-shadow: 0px 8px 16px -9px rgba($neutral-900, 0.16);

      .recipe-top {
        display: grid;
        gap: 16px;

        img {
          border-radius: 10px;
        }

        .recipe-info {
          display: grid;
          gap: 16px;

          .description {
            display: grid;
            gap: 10px;

            h5 {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            p {
              @include text-preset(9);
            }
          }

          .details {
            display: flex;
            flex-wrap: wrap;
            gap: 8px 16px;

            div {
              display: flex;
              align-items: center;
              gap: 2px;
              @include text-preset(9);

              img {
                height: 20px;
              }
            }
          }
        }
      }
    }
  }

  .no-results {
    @include text-preset(9);

    p {
      @include text-preset(9);
    }

    .filter {
      display: flex;
      align-items: center;

      gap: 6px;
      margin-left: 12px;

      &::before {
        content: '';
        background-image: url('/src/assets/images/icon-bullet-point.svg');
        background-size: contain;
        height: 1em;
        width: 1em;
      }
    }
  }
}
